# Android/IntelliJ
.gradle/
local.properties
.idea/
.DS_Store
build/
app/build/
*.iml
*.apk
*.ap_*
*.dex
*.class
*.log
*.hprof
*.swp
*.swo
*.tmp
*.orig
*.rej
*.bak
*.keystore
captures/
output.json
# MacOS
__MACOSX/
# VSCode
.vscode/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
